.header {
  padding-top: 24px;
  padding-bottom: 25px;

  border-bottom: 1px solid #ececec;

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    @extend %logo;
    margin-right: 93px;
    color: #000000;
  }
}
