.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  margin: 0 auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  text-align: center;

  &__title {
    margin-bottom: 30px;
    text-align: center;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    text-transform: uppercase;
    color: $third-text-color;
  }
  &__btn {
    @extend %btn;
    min-width: 216px;
    padding: 10px 32px;
  }
}
